*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}



.header{
    min-height: 100vh;
    width:100% ;
    background-image: url(bg.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;

}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;

}

.nav-links{
    flex:1;
    text-align: center;

}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding:17px 12px ;
    position: relative;

}

.nav-links ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    margin: auto;
    display: block;
    transition: 0.5s;
}


.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);/*to make in center*/
    text-align: center;
}

.text-box h1{

    font-size: 62px;   
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 17px;
    color: rgb(0, 0, 0);
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid black;
    background: #1b2fb1;
    transition: 1s;
}

nav .fa{
    display: none;
}
@media(max-width:700px){

    .text-box h1{
        font-size: 62px; 
    }   
    .nav-links ul li{
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 30px;
    }
}

/* place */

.place{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:100px ;
}

h1{
    font-size: 36px;
    font-weight: 600;
    
}

p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis:31% ;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*third page*/

.pict{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.pict-col{
    flex-basis:32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.pict-col img{
    width: 200%;
    height:100%;
    display: block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(226,0,0,0.7);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
     opacity: 1;
}


/* infromation about the country*/

.information{
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 100px;
}

.coutry-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.coutry-col img{
    width: 100%;
    height: 35%;
    border-radius: 12px;
}

.coutry-col p{
    padding: 0;
}

.coutry-col h3{
    margin-top:16px ;
    margin-bottom:15px ;
    text-align: left;
}